{% extends "F:\projects\djangodelights\djangodelights\home\templates\base.html" %}


{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <h1>Ingredient Details</h1>
    <input id="name" name="name" placeholder="name"/>
    <input type="number" id="price" name="price" placeholder="price"/>
    <input type="number" name="quantity" id="quantity" placeholder="quantity">
    <input type="text" name="unit" id="unit" placeholder="unit">
    <input type="submit" value="Submit"/>
</form>
{% endblock %}